body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
   background-image: url(https://images.unsplash.com/photo-1571951842145-f204944c5674?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw5MTg0Nzd8fGVufDB8fHx8fA%3D%3D);
   background-repeat: no-repeat;
   background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 428px;
    margin: 1em;
    padding: 2em;
    border-radius: 14px;
    background: #000000d0;
    color: white;
}
input{
    border: none;
    padding: 0.3 rem;
    border-radius: 18px;
    color: rgb(255, 255,255);
    background-color: #7c7c7c2b;
    outline: none;
    font-family:'Anta&family',sans-serif ;
}
button{
    width: 29px;
    padding: 6px;
    border-radius: 20px;
    color: rgb(255, 255,255);
    background-color: #7c7c7c2b;
    font-family:'Anta&family',sans-serif;
    border: none;
}
button:hover{
    border: 1px solid rgb(122,122,122);
}
.displayWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}